*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-image: url(./img/wallpaper.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

.title{
    color: #ffcc00;
    margin: 15vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black;
}

.container{
    width: 80vh;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.key{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #000000BB;
    color: white;
    font-size: calc(1vw + 20px);
    border: 3px solid white;
    user-select: none;
    cursor: pointer;
    transition: transform .2s;
}

.active{
    transform: scale(1.3);
    border-color: #ffcc00;
    box-shadow: 0 0 50px #ffcc00;
}